@{
    ViewBag.Title = "Bienvenida";
}

<br />
<div class="jumbotron" style="background-color:#FA7670">
    <center>
        <h1>Sistema de Vehículo</h1>
        <h5 class="lead">Proyecto Final Programación Web II</h5>
    </center>
</div>

<br />
<div class="container" align="center" style="right:1000px">
    <div class="row">
        <div class="col-md-4 animated zoomInLeft ">
            <div class="card" style="border:0px">
                <div class="card-header bg-info text-white text-center">
                     <h4>Empleados</h4>
                </div>
                <div class="card-body">
                    <img style="width:180px; height:170px;" src="https://thumbs.dreamstime.com/b/icono-de-mezcla-para-el-documento-correcto-y-registro-la-aprobaci%C3%B3n-casilla-verificaci%C3%B3n-marcar-183373539.jpg" />
                    <P class="text-justify">En este módulo se registraran todo lo referente al empleado. </P>
                    <a class="text-white btn btn-info btn-block" href="~/Empleados/InsertarCargo"><b>Cargo</b></a>
                    <a class="text-white btn btn-info btn-block" href="~/Empleados/InsertarDepartamento"><b>Departamento</b></a>
                    <a class="text-white btn btn-info btn-block" href="~/Empleados/InsertarEmpleado"><b>Empleado</b></a>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 animated zoomInLeft">
            <div class="card" style="border:0px">
                <div class="card-header bg-warning text-white text-center">
                   <h4 class="text-shadow">Vehículos</h4>
                </div>
                <div class="card-body">
                    <img style="width:150px; height:150px" src="https://www.arqhys.com/wp-content/uploads/2016/12/Tipos-de-mantenimiento..jpg" /><br /><br />
                    <P class="text-justify">Este módulo consiste en registrar cada una de las partes que afectan al vehículo.</P>
                    <a class="text-white btn btn-warning btn-block" href="~/Vehiculos/InsertarColor"><b>Color</b></a>
                    <a class="text-white btn btn-warning btn-block" href="~/Incidencias/InsertarIncidencia"><b>Incidencia</b></a>
                    <a class="text-white btn btn-warning btn-block" href="~/Vehiculos/InsertarMarca"><b>Marca</b></a>
                    <a class="text-white btn btn-warning btn-block" href="~/Vehiculos/InsertarModelos"><b>Modelo</b></a>
                    <a class="text-white btn btn-warning btn-block" href="~/Incidencias/InsertarTaller"><b>Taller</b></a>
                    <a class="text-white btn btn-warning btn-block" href="~/Vehiculos/InsertarVehiculo"><b>Vehículo</b></a>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 animated zoomInLeft " style="padding-bottom:50px">
            <div class="card" style="border:0px">
                <div class="card-header bg-success text-white text-center">
                    <h4>Entregas</h4>
                </div>
                <div class="card-body ">
                    <img style="width:200px; height:150px" src="https://transporte-inmediato.com/wp-content/uploads/2020/12/entregas-a-domicilio-1080x675.jpg" /><br /><br />
                    <P class="text-justify">En este módulo se van a registrar los procesos de entregas, sus prioridades y los clientes.</P>
                    <a class="text-white btn btn-success btn-block" href="~/Clientes/InsertarCliente"><b>Cliente</b></a>
                    <a class="text-white btn btn-success btn-block" href="~/Entregas/InsertarEntrega"><b>Entrega</b></a>
                    <a class="text-white btn btn-success btn-block" href="~/Entregas/InsertarPrioridad"><b>Prioridad</b></a>
                </div>
            </div>
        </div>
    </div>
</div>
